* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: Arial, sans-serif;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	border-radius: 10px !important;
}

.container {
	padding: 30px 10px; /* Increased padding for more breathing space */
	box-shadow: 4px -12px 30px #004b2371 inset;
	text-align: center;
	width: 400px; /* Adjustable width */
	transition: transform 0.2s; /* Smooth scaling red effect on hover */
}

.container:hover {
	transform: scale(1.02); /* Slightly enlarge container on hover */
}

/* main styling starts */

.main-container {
	padding: 0;
}

.logo-container {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-bottom: 30px;
	width: 100%;
	padding: 10px;
}

.logo {
	max-width: 120px; /* Make the logo slightly larger */
}

.logo-container h2 {
	font-size: 1.5em;
}

.main-container button {
	height: 35px;
    width: 100px;
	padding: 10px !important;
}

.main-container button p {
	font-size: 0.7rem;
}

.analyzing-process {
	display: flex;
	flex-direction: column;
	gap: 15px;
	text-align: start;
	width: 100%;
	margin-bottom: 20px;
	padding: 0 20px 0 20px;
}

.data {
	padding: 0 20px;
}

.data p:nth-child(1) {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 14px;
}

.data ul {
	font-size: 1em;
	margin-left: 20px;
}

.end-button_container {
	display: flex;
	justify-content: flex-end;
	width: 90%;
	margin-bottom: 20px;
}

/* main styling ends */

.bg_image-container img {
	height: 200px;
}

.title-container {
	margin-bottom: 15px;
}

.title-container h1 {
	font-size: 24px; /* Increase title font size */
	color: #333; /* Darker color for better contrast */
}

.description-container {
	margin-bottom: 25px;
	padding: 20px;
	color: #555;
	font-size: 14px; /* Standardize description font size */
	line-height: 1.5; /* Improve readability */
}

.button-container {
	margin-top: 20px;
}

.button-container .auth-button{
	width: 50%;
}

.auth-button,
.main-container button {
	padding: 12px 24px; /* Slightly larger button for better touch */
	background-color: #19381f; /* Upwork color */
	border: none;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	margin-bottom: 10px;
	transition: background-color 0.3s, transform 0.2s; /* Smooth transition effects */
}

.auth-button a{
	color: #fff;
}

.auth-button:hover,
.main-container button:hover {
	background-color: #2b5e35; /* Lighter color on hover */
	transform: translateY(-2px); /* Slight upward movement on hover */
}

.auth-button:active {
	transform: translateY(0); /* Reset position on click */
}

/* sign up start */
.sign-up_container{
	padding: 0;
}

.sign-up_container main {
	padding: 0 40px 40px 40px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.information-section{
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 5px;
	margin-bottom: 10px;
}

.entryarea{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.entryarea input{
	width: 100%;
	outline: none;
	font-size: 2.2em;
	padding: 0 20px;
	line-height: 40px;
	border-radius: 10px;
	border: 2px solid #2b5e3573;
	background-color: transparent;
	transition: 0.1s ease;
	font-size: 1.2em;
	z-index: 1111;
}

.entryarea input:focus,
.entryarea input:valid{
	color: #19381f;
	border: 2px solid #2b5e35;
}

.agreement-section{
	display: flex;
	justify-content: start;
	gap: 10px;
	text-align: start;
	margin-top: 10px;
}

.agreement-section input{
	width: 30px;
}

.sign-up_btn .auth-button{
	width: 100%;
}

/* sign up input */

